*{
    margin: 0;
}

img {
    width: 100%;
    height: 287px;
    background: cover;

}
body{
    background-color: hsl(225, 100%, 94%);
}

.short-text { 
    display: none; 
}

.box {
display: flex;
align-items: center;
justify-content: center;
position: relative;
}

.box div {
width: 330px;
height: 500px;
border-radius: 20px;
top: -220px;
background-color: white;
position: absolute;
box-shadow: 5px 17px 28px 1px #e0e8ff;
}

.man {
background-image: url(illustration-hero.svg);
background-size: 330px;
background-repeat: no-repeat; 
}

h2 , p {
position: relative;
display: block;
text-align: center;
top: 180px;
font-family: 'Red Hat Display';
white-space: nowrap;
  text-overflow: ellipsis;
}

h2{
color: black;
font-weight: 900;
font-style: bold;

}

.order {
    font-size:large;
}

p {
font-size: 12px;
margin-top: 15px;
font-weight: 500;
color: hsl(224, 23%, 55%);
line-height: 18px;
}

.full-text {
    font-size: 0.75em;
}

.music {
background-color: #f5f7ff;
top: 195px;
position: relative;
margin-left: 30px;
padding: 5px;
display: flex;
align-items: center;
justify-content: center;
height: 65px;
width: 260px;
border-radius: 8px;
}

.music img {
width: 38px;
height: 38px;
left: 20px;
position: absolute;
}

.music h2  {
position: absolute;
top: 20px;
left: 74px;
font-size: small;
}
.music p {
top: 3px;
left: -24px;
font-size: small;
}

.music a {
position: absolute;
right: 15px;
font-family: 'Red Hat Display';
font-size: 12px;
font-weight: 600;
}

button {
background-color: hsl(245, 75%, 52%);
position: absolute;
left: 30px;
bottom: 80px;
border: none;
color: white;
padding: 10px;
width: 268px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 11px;
font-family: 'Red Hat Display';
margin: -1px 2px;
border-radius: 8px;
box-shadow: 2px 16px 8px 1px #e0e8ff;
}

span  {
position: absolute;
bottom: 215px;
left: 130px;
}

button:hover {
cursor: pointer;
background-color: rgba(56, 41, 224,0.7);
}

span p:hover {
cursor: pointer;
color: black;
}

.music a:hover {
text-decoration: none;
color: rgba(56, 41, 224,0.7);
}

